$color-red: #E84D3C;

$color-black: #060606;
$color-blacksmoke: #222222;
$color-lightblack: #282828;
$color-bg-page: #303030; // From vuetify theme.

$color-white: #FFFFFF;
$color-whitesmoke: #F5F5F5;

$color-light-grey: #D5D5D6;
$color-medium-grey: #B1B2B4;
$color-dark-grey: #777777;