// Native font stack, see https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/ .
// Note: "Roboto" was put a little bit lower on that list to not conflict with Google Maps, which loads the Roboto font.
// To avoid some crazy hacks to suppress this loading behavior, we'll put it somewhere lower so that it's only used on Android.

$font-family-sans-serif:
  "Roboto",
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // KDE
  "Oxygen",
  // Ubuntu
  "Ubuntu",
  // Gnome
  "Cantarell",
  // FF OS
  "Fira Sans",
  // Older android versions
  "Droid Sans",
  // Basic web fallback
  "Helvetica Neue",
  Arial, sans-serif !default;
$family-sans-serif: $font-family-sans-serif;

@import "../../node_modules/sanitize.css/sanitize";
@import "../../node_modules/vuetify/dist/vuetify.css";
@import "./colors";

html {
  font-family: sans-serif;
  height: 100%;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, .application {
  font-family: $font-family-sans-serif;
}

.btn {
  // Padding - texts inside may be too tight towards the button's borders otherwise.
  padding-left: 10px;
  padding-right: 10px;
}

img {
  max-width: 100%;
}

a {
  text-decoration-line: none;
}
