// We're using a modified version of the native font stack (https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/),
// since the material style implemented by vuetify prefers Roboto as primary font.
// The rest of the stack is used as always and provides a proper fallback.

$font-family-sans-serif:
  "Roboto",
  // Safari for OS X and iOS (San Francisco)
  -apple-system,
  // Chrome >= 56 for OS X (San Francisco), Windows, Linux and Android
  system-ui,
  // Chrome < 56 for OS X (San Francisco)
  BlinkMacSystemFont,
  // Windows
  "Segoe UI",
  // KDE
  "Oxygen",
  // Ubuntu
  "Ubuntu",
  // Gnome
  "Cantarell",
  // FF OS
  "Fira Sans",
  // Older android versions
  "Droid Sans",
  // Basic web fallback
  "Helvetica Neue",
  Arial, sans-serif !default;

@import "colors";

html {
  font-family: sans-serif;
  height: 100%;
  line-height: 1.15;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body, .application {
  font-family: $font-family-sans-serif;
}

.btn {
  // Padding - texts inside may be too tight towards the button's borders otherwise.
  padding-left: 10px;
  padding-right: 10px;
}

img {
  max-width: 100%;
}

a {
  text-decoration-line: none;
}
