@import "colors";

$min-page-width: 320px;

$header-height: 40px;
$side-nav-width: 50px;

$default-border-radius: 3px;
$default-box-shadow: 0 1px 6px $color-medium-grey;
$lighten-box-shadow: 3px 1px 6px $color-white;